form{
    background-color:white;
    background-color: rgba(255,255,255,0.9);
    margin-top: 15%;
    padding: 40px; 
    text-align: center;
}
p, legend {
    font-size: 22px;
    font-weight: bold;
}
input[type="submit"]{
    background: yellow;    
    border: none;
    font-size: 20px;
    padding: 10px 20px;
}
input[type="submit"]:hover{
    border: 2px solid rgb(177, 22, 22);
    font-weight: bold;
}
@media screen and (max-width: 980px) {
    form
    {
        margin-top: 20%;
    }
    textarea[name="misljenje"]{width: 250px; }
    }
@media screen and (max-width: 600px) {
    form
    {
        margin-top: 80%;
    }
    textarea[name="misljenje"] {width: 150px;}
  }
