.navMoj .pretraga
{
    float: right;
}
.navMoj input[type=text] 
{   
    background-color:#ddd;
    border: none;
    font-size: 17px;
    margin-top: 8px;
    padding: 6px;   
}
.navMoj .pretraga button
{
  background: #ddd;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 17px;
  margin-right: 16px;
  margin-top: 8px;
  padding: 6px 10px;
}
.navMoj .pretraga button:hover
{
    background: #ccc;
}
.main-serije, .main-filmovi
{
    background-color: white;
    background-color: rgba(255,255,255,0.9);
    margin-top: 10%;
    width: 60%;
}
img
{
    float: left;
    height:255px;
    margin:10px;
    padding: 10px;
    width: 177px;
}
.sekcija
{
    border: 1px solid silver;
    padding: 40px;
}
.recenzija-serije, .recenzija-filma
{
    font-size: 25px; 
    margin-left: 200px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    text-align: justify;
}
.naslov
{
    font-size: 40px;
    margin-bottom: 2px;
    margin-top: 10px;
}
p::first-letter
{
    font-size: 30px;
    font-weight: bold;
}
.crp
{
    background-color: black;
    bottom: 0;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 980px) 
{
    .main-serije, .main-filmovi
    {
        margin-top: 20%;
    }
    .recenzija-serije, .recenzija-filma
    {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   
    padding: 10px;
    }
}
@media screen and (max-width: 600px) 
{
    .navMoj .pretraga,.navMoj .pretraga button
    {
        float: none;
        margin: 0;
        width: 100%;
    }
    .navMoj input[type=text] 
    {
        border: 2px solid #ccc;
        width: 100%;
    }
    .main-serije, .main-filmovi
    {
        margin-top: 60%;
    }
    img
    {
        float: none;
    }
    .naslov
    {
      font-size: 30px;
      padding:10px;
    }  
}
